---
---

@import "{{ site.theme }}";

* {
  font-family: "Trubuchet MS", Helvetica, sans-serif;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header{
	display: none;
}

a:link {
	color: #b5e853;
}

a:visited {
	color: #a0ce4a;
}

a:hover {
	color: #a0ce4a;
}